.footer {
    color: white;
    background-color: black;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 1px;

    flex-wrap: wrap; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.SocialMediaInfo {
    text-align: left;
}

.address {
    text-align: left;  
}

.contactInfo { 
    text-align: left;
}


.icons {
    font-size: 40px;
    padding-top: 10px;
}


.icons svg {
    margin: 0 14px; /* wider spacing */
}


.phone-icon {
    font-size: 25px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px; /* space between icon and number */
}

.mail {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mail-icon {
    font-size: 25px;
}

.copyright-statement {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 8px;
    padding-left:800px;
    padding-bottom: 30px;
}
.copyright-icon {
    font-size: 25px;
}

