.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*padding-bottom: 50px;*/
    background-color: black;
    color: white;
    text-decoration: none;
    text-decoration-color: azure;
    font-size: 20px;
    
    
}
