.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 50px;
    background-color: #333;
    font-size: 20px;
    font-family: Helvetica;    
}

.navbarElement {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 30px;
}

.navbarElement:hover {
    background-color: #111;
}
