.HomeScreenText {
    padding-top: 250px;
    font-family: Helvetica;
    font-weight: bold;
    background-image: url('../Images/barber-background.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;

}

h1 {
    font-size: 60px;
    color: white;
}

h3 {
    color: white;
}

button {
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    height: 60px;
    width: 250px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 18px;
    border-color: white;
    border: 1px;
    
}

.Reviews {
    color: black;
}

.arrowDown {
    -webkit-text-stroke: 2px black;
    font-size: 48px;
    padding-top: 80px;
}

.arrowDown svg {
    stroke: black;
    stroke-width: 2;
}

.time-group {
    gap: 60px;
    display: flex;
}

.day-range {
    margin-left: 1300px;
}


.time-range1 {
    margin-left: 100px;
}

.time-range2 {
    margin-left: 15px;
}

.time-range3 {
    margin-left: 163px;
}

.time-range4 {
    margin-left: 170px;
}