.HomeScreenText {
    padding-top: 250px;
    font-family: Helvetica;
    font-weight: bold;
    background-image: url('../Images/barber-background.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;

}

h1 {
    font-size: 60px;
    color: white;
}

h3 {
    color: white;
}

button {
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    height: 60px;
    width: 250px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 18px;
}

.Reviews {
    color: black;
}