.HomeScreenText {
    padding-top: 250px;
    font-family: Helvetica;
    font-weight: bold;
    background-image: url('../Images/barber-background.png');
    background-size: cover;
    background-position: center;
    height: 650px;

}

.barber-window {
    background-image: url('../Images/barber-window.png');

}

h1 {
    font-size: 60px;
    color: white;
}

h3 {
    color: white;
}

button {
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    height: 60px;
    width: 250px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 18px;
    border-color: white;
    border: 1px;
    
}

.Reviews {
    color: black;
}

.arrowDown {
    -webkit-text-stroke: 2px black;
    font-size: 48px;
    padding-top: 80px;
}

.arrowDown svg {
    stroke: black;
    stroke-width: 2;
}



.time-group {
    gap: 60px;
    display: flex;
}

.day-range {
    margin-left: 800px;
}


.time-range1 {
    margin-left: 100px;
}

.time-range2 {
    margin-left: 15px;
}

.time-range3 {
    margin-left: 163px;
}

.time-range4 {
    margin-left: 170px;
}


.services-container {
    display: flex;
    align-items: left;
    gap: 120px;
    padding-left:550px;
}

.services-column,
.prices-column,
.services-column-2, .prices-column-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.services-column-2 {
    margin-left: 80px;
}

.services-column p,
.prices-column p,
.prices-column-2 p,
.services-column-2 p {
  margin: 10px 0;
  font-size: 18px;
  font-family: Helvetica;
}

.timeInfo {
    padding-top: 30px;
    font-size: 18px;
}


.barber-window {
  background-image: url('../Images/barber-window.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  padding-left: 160px;
}

.parent-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2rem 0;

}



.galleryImages {
  padding-right: 25px;
  padding-bottom: 25px;
  margin-left: 165px;
  gap: 20px;
  display: flex;
  height: 250px;
  width: 250px;
}


.galleryImages2 {
  margin-left: 165px;
  padding-right: 25px;
  padding-bottom: 25px;
  gap: 20px;
  display: flex;
  height: 250px;
  width: 250px;
}

.galleryImages3 {
  margin-left: 165px;
  padding-right: 25px;
  padding-bottom: 25px;
  gap: 20px;
  display: flex;
  height: 250px;
  width: 250px;
}

.barberOwner {
  height: 500px;
  width: 650px;
}

.img-text {
    margin-left: 100px ;
    display: flex;
    font-size: 20px;
    line-height: 2;
    gap:70px;
}

.img-text p {
    width: 1000px;
    text-align: left;
}

.ownerName{
    color: black;
    line-height: 0.5;
}