.carousel .control-dots .dot {
    background: brown;
    border: 2px;
    box-shadow: 0 0 4px gold;
    
    width: 20px;
    height: 20px;
}

.review-carousel-wrapper {
  max-width: 1800px;
  margin: 2rem auto;
  text-align: center;
}

.review-slide {
  padding: 1.5rem;
  background-color: #91851d;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.review-slide p {
  font-size: 1.1rem;
  color: #444;
  min-height: 600px;
  min-width: 500px;
  font-size: 30px;
}